<html>
    <head>
        <title>CJ's page</title>
    </head>
    <body>
        <div>
            <h1><a href="">유용한 홈페이지 모음</a></h1>
        </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h1><a href="">{{ post.title }}</a></h1>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

        <div>
            <ul><a href="https://tutorial.djangogirls.org/ko/django/">DjangoGrils Tutorial </ul>
            <ul><a href="https://docs.djangoproject.com/ko/3.0/topics/">Django Document </ul>
            <ul><a href="https://opentutorials.org/course/1">생활코딩 </ul>
        </div>

    </body>
</html>
