<html>
    <head>
        <title>CJ's page</title>
    </head>
    <body>
        <div>
            <h1><a href="">CJ's page</a></h1>
        </div>

        <div>
            <p>published: 2020.02.03, 10:42</p>
            <h2><a href="">My first post</a></h2>
            <p>이 페이지는 나의 지식을 저장하고 정리하기 위해 만들었다.</p>
        </div>

        <div>
            <p>published: 2020.02.03, 10:44</p>
            <h2><a href="">My second post</a></h2>
            <p>아직 구현해야될 기능들이 많다.<p>
        </div>
    </body>
</html>
